/*html,
body {
  height: 100%;
}*/

#container{
display: flex;
justify-content: center; 
align-items: center; 
width: 100%;
/*height: 100%;*/
height: 200px;
background-color: #cccccc;
}

.inner{
background-color: #FF6600;
}

#player-ctr{
background-color: #FF6600;
}