<nico-grid>
    <style>
        .nico-grid-container {
            width: 100%;
            height: 100%;
        }

        .nico-grid-container > .body {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: auto; 
        }
        .nico-grid-container .row-container {
            position: relative;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            display: block;
        }
        .nico-grid-container .row-container > .row {
            display: flex; 
            flex-wrap: nowrap;
            height:100px;
        }
        .nico-grid-container .row-container > .row > .body-cell {
            display: inline-block;
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            height: 100%;
            width: 150px;
        }
        .nico-grid-container .row-container > .row > .body-cell:first-child {
            border-left: 1px solid gray;
        }

        .nico-grid-anchor {
            position: absolute;
            top: 0px;
            width: 1px;
            height: 1px;
        }

        .nico-grid-row-odd {
            background: rgb(240, 240, 240);
        }
        .nico-grid-row-select {
            background: #6190cd6b;
        }
    </style>

    <div class="nico-grid-container">
        <nico-grid-header
            header_height={header_height}
            column_ids={getColumnIds()}
            column_props_map={getColumnPropsMap()}
            obs={obs_header}
        ></nico-grid-header>
        <div class="body">
            <div class="row-container" onmousedown={onMouseDown} >
                <div class="row {getRowClass(data_index)}" onmouseup={onMouseUp.bind(this,data_index)}
                    style={getRowStyle(data_index)} each={data_index in state.data_indexes}>
                    <nico-grid-cell class="body-cell" style={getBodyCellStyle(column_id)} 
                        html={getBodyCellHtml(data_index, column_id)} each={column_id in state.column_ids}></nico-grid-cell>
                </div>
            </div>
            <div class="nico-grid-anchor"></div>
        </div>
    </div>

    <script>
        export default window.RiotNicoGrid;
    </script>
</nico-grid>