<nico-grid>
    <style>
        .nico-grid-container {
            width: 100%;
            height: 100%;
        }

        .nico-grid-container > .body {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: auto; 
        }
        .nico-grid-container .row-container {
            position: relative;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            display: block;
        }
        .nico-grid-container .row-container > .row {
            display: flex; 
            flex-wrap: nowrap;
            height:100px;
        }
        .nico-grid-container .row-container > .row > .body-cell {
            display: inline-block;
            border: 1px solid gray;
            height: 100%;
            width: 150px;
        }

        .nico-grid-anchor {
            position: absolute;
            top: 0px;
            width: 1px;
            height: 1px;
        }

        .nico-grid-row-odd {
            background: rgb(240, 240, 240);
        }
        .nico-grid-row-select {
            background: #6190cd6b;
        }
    </style>

    <div class="nico-grid-container">
        <nico-grid-header
            header_height={header_height}
            columns={columns}
            column_width={column_width}
        ></nico-grid-header>
        <div class="body">
            <div class="row-container">
                <div class="row {getRowClass(table_row)}" onclick={onclickItem.bind(this,table_row)}
                    style={getRowStyle(table_row)} each={table_row in state.table_rows}>
                    <nico-grid-cell class="body-cell" style={getBodyCellStyle(item)} 
                        html={getBodyCellHtml(item)} each={item in table_row.data}></nico-grid-cell>
                </div>
            </div>
            <div class="nico-grid-anchor"></div>
        </div>
    </div>

    <script>
        export default window.RiotNicoGrid;
    </script>
</nico-grid>