<nico-grid>
    <style>
        :host {
            position: absolute;
            padding: 2px;
            width: 100%;
            height: 100%;
            border: 1px solid blue;
        }
        
        .data-table {
            position: relative;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            display: block;
            border: 1px solid red;
        }
        .test-header {
            flex-shrink: 0;
            border: 1px solid gray;
            width: 100px;
            height:25px;
        }
        .test-col {
            display: inline-block;
            border: 1px solid gray;
            height: 100%;
            width: 150px;
        }
        .test-row {
            height:100px;
        }
        .ppp {
            position: absolute;
            top: 0px;
            width: 1px;
            height: 1px;
        }
        .table-target {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: auto; 
        }
        .test-header-container {
            width: 100%;
            overflow: hidden;
        }
        .test-header-cont2 {
            position: relative;
            display: flex; 
            flex-wrap: nowrap;
            width: 100%;
        }
        .row-odd {
            background: rgb(240, 240, 240);
        }
        .row-even {
            background: whitesmoke;
        }
    </style>
    
    <div class="test-header-container">
        <div class="test-header-cont2">
            <div class="test-header" style={getHeaderStyle(heaer)} 
                each={heaer in state.table_heads}>
                {heaer.name}
            </div>
        </div>
    </div>
    <div class='table-target'>
        <div class='data-table'>
            <div class="test-row {getRowClass(table_row)}" onclick={onclickItem.bind(this,table_row.data)}
                style={getStyle(table_row)} each={table_row in state.table_rows}>
                <div class="test-col" style={getCellStyle(item)} 
                    each={item in table_row.data}>{item.data}</div>
            </div>
        </div>
        <div class="ppp"></div>
    </div>

    <script>
        export default window.RiotNicoGrid;
    </script>
</nico-grid>