.vscode
build/
node_modules/
tmp/
*.mp4
/*.log
/sample/*.json
/test/sql/*.json
/data/
test/data/
test/userData/
*.lnk
/test/mock_server/img/
/test/mock_server/data/*.jpeg
/test/mock_server/data/*.mp4
/test/mock_server/data/html/*.html
/test/mock_server/data/hls/
*.pem
