.vscode
node_modules/
lib/
tmp/
*.mp4
/*.log
/sample/*.json
/test/datatables/data/*.jpg
/test/sql/*.json
/package-lock.json
/test/dummy_server/data/img/*.jpeg
/data/
test/data/
package-lock.json
*.lnk
