@import url(../../node_modules/slickgrid/slick.grid.css);
@import url(../../node_modules/slickgrid/css/smoothness/jquery-ui-1.11.3.custom.css);
@import url(../../node_modules/slickgrid/slick-default-theme.css);
@import url(../../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
@import url(../../node_modules/izitoast/dist/css/iziToast.css);

* {
    box-sizing: border-box; 
}

:root {
    --control-color:whitesmoke;
    --control-border-color:gray;
    --right-sidebar-page-top:40px;
    --nico-comment-font-family:"MS PGothic","ＭＳ Ｐゴシック",monapo,Verdana,sans-serif;  
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 12px;
    overflow: hidden;
}

.slick-cell.active {
  border-style:initial;
  border: 1px solid transparent;
  border-right: 1px dotted silver;
  border-bottom-color: silver;
}
.slick-cell.selected {
  background-color: #6190cd6b;
}

.slick-header-column, .slick-cell {
  user-select: none;
}

.center-hv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-v {
  display: flex;
  align-items: center;
}

.dialog-shadow {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
  0 3px 14px 2px rgba(0,0,0,0.12), 
  0 5px 5px -3px rgba(0,0,0,0.3);
}

.gridtable-thumbnail {
  object-fit: contain;
  width: 130px;
  height: 100px;
}

.gridtable-button {
  margin-top: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}
.gridtable-button,
.gridtable-button > i {
  font-size: 15px;
  color: gray;
  cursor: pointer;
}
.gridtable-button:hover > i,
.gridtable-button > i:hover {
  color: black;
}

.wrap-gridtable-cell {
  white-space: normal;
  overflow-wrap: break-word;
}

.state-content {
  display: inline-block;
  border-radius: 2px;
  padding: 3px 10px 3px 10px;
  margin-right: 5px;        
  margin-bottom: 5px;
}
.state-saved {
  background-color: #7fbfff;
}
.state-reg-download {
  background-color: hotpink;
}

.toast-wrapper-hr {
  background-color: #808080;
  border: none;
  height: 1px;
}
.toast-wrapper-text {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

input::placeholder {
  user-select: none;
}

button {
  user-select: none;
}