@import url(../../node_modules/slickgrid/slick.grid.css);
@import url(../../node_modules/slickgrid/css/smoothness/jquery-ui-1.11.3.custom.css);
@import url(../../node_modules/slickgrid/slick-default-theme.css);
@import url(../../node_modules/@fortawesome/fontawesome-free/css/all.min.css);

* {
    box-sizing: border-box; 
}

:root {
    --control-color:whitesmoke;
    --control-border-color:gray;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 12px;
}

.slick-cell.active {
  border-style:initial;
  border: 1px solid transparent;
  border-right: 1px dotted silver;
  border-bottom-color: silver;
}
.slick-cell.selected {
  background-color: #6190cd6b;
}

.center-hv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-shadow {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
  0 3px 14px 2px rgba(0,0,0,0.12), 
  0 5px 5px -3px rgba(0,0,0,0.3);
}
