library-page > .split-page {
    --left-width: 300px !important;
}

mylist-page > .split-page {
    --left-width: 300px !important;
}

search-page > .split-page {
    --left-width: 300px !important;
}

bookmark-page {
    --page-width: 300px !important;
}