.split-page > .left.listview-library  {
    --left-width: 100px !important;
}

.split-page > .left.listview-search {
    --left-width: 200px !important;
}

.split-page > .left.listview-mylist {
    --left-width: 500px !important;
}

bookmark-page {
    --page-width: 300px !important;
}

listview .listview-item-default-icon-color {
    color: royalblue !important;
}
listview .listview-item-marked-icon-color {
    color: red !important;
}