<nico-grid>
    <style>
        .nico-grid-container {
            width: 100%;
            height: 100%;
            background-color: white;
        }

        .nico-grid-container > .body {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: auto; 
        }
        .nico-grid-container .row-container {
            position: relative;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            display: block;
        }
        .nico-grid-container .row-container > .row {
            display: flex; 
            flex-wrap: nowrap;
            height:100px;
        }
        .nico-grid-container .row-container > .row > .body-cell {
            display: inline-block;
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            height: 100%;
            width: 150px;
            padding: 5px;
            user-select: none;
        }
        .nico-grid-container .row-container > .row > .body-cell:first-child {
            border-left: 1px solid gray;
        }

        .nico-grid-anchor {
            position: absolute;
            top: 0px;
            width: 1px;
            height: 1px;
        }

        .nico-grid-row-odd {
            background: rgb(240, 240, 240);
        }
        .nico-grid-row-select {
            background: #6190cd6b;
        }

        .nico-grid-img-holder {
            width: 100%;
            height: 100%;
            display: flex; 
            align-items: center;
            justify-content: center;
        }
        .nico-grid-thumb {
            max-width: 180px;
            height: auto;
        }

        .nico-grid-wrap-cell {
            width: 100%;
            height: 100%;
            white-space: normal;
            overflow-wrap: break-word;
            overflow: hidden;
        }
        
        .nico-grid-tag-content {
            display: inline-block;
            border-radius: 2px;
            padding: 3px 10px 3px 10px;
            margin-right: 5px;        
            margin-bottom: 5px;
            background-color: lightpink
        }

        .nico-grid-button {
            margin-top: 5px;
            margin-right: 5px;
            width: 25px;
            height: 25px;
        }
        .nico-grid-button,
        .nico-grid-button > i {
            font-size: 15px;
            color: gray;
            cursor: pointer;
        }
        .nico-grid-button:hover > i,
        .nico-grid-button > i:hover {
            color: black;
        }

        .nico-grid-state-content {
            display: inline-block;
            border-radius: 2px;
            padding: 3px 3px 3px 3px;
            margin-right: 5px;        
            margin-bottom: 5px;
            font-size: 20px;
            color: #444444;
        }
        .nico-grid-state-saved {
            background-color: #7fbfff;
        }
        .nico-grid-state-reg-download {
            background-color: hotpink;
        }
    </style>

    <div class="nico-grid-container">
        <nico-grid-header
            header_height={options.header_height}
            column_ids={getColumnIds()}
            column_props_map={getColumnPropsMap()}
            obs={obs_header}
        ></nico-grid-header>
        <div class="body">
            <div class="row-container" onmousedown={onMouseDown} >
                <div class="row {getRowClass(data_index)}" onmouseup={onMouseUp.bind(this,data_index)}
                    ondblclick={onDbClick.bind(this,data_index)}
                    style={getRowStyle(data_index)} each={data_index in state.data_indexes}>
                    <div class="body-cell" 
                        data-dataindex={data_index}
                        data-columnid={column_id}
                        style={getBodyCellStyle(column_id)} 
                        each={column_id in state.column_ids}>
                    </div>
                </div>
            </div>
            <div class="nico-grid-anchor"></div>
        </div>
    </div>

    <script>
        export default window.RiotNicoGrid;
    </script>
</nico-grid>